@charset "utf-8";

*{margin: 0; padding: 0;}
body{background: url(../menu1.jpg) no-repeat 50% 60%; background-size: cover;}
#menu ul{list-style: none;}
#menu ul li{float: left; margin-right: 2px;}
#menu ul li a{text-transform: uppercase; text-decoration: none; display: block; padding: 10px 10px 15px 10px; background-color: cornflowerblue; color: #fff;}
#menu ul li a:hover{border-bottom: 5px solid #fff; padding-bottom: 10px;}