body{margin-top: 80px;}
#wrapper{width: 288px; margin: 0 auto;}
#mainNav li{width: 80px; height: 80px; border: 3px solid #dbdbdb; border-radius: 10px; background:#fff; background-repeat: no-repeat; background-position: 50% 50%; padding: 3px; margin: 0 6px 6px 0;}
#mainNav li:nth-child(3n){margin-right: 0;}
#mainNav li:nth-child(2){background-image: url(../images/sandal3.png);}
#mainNav li:nth-child(3){background-image: url(../images/neck3.png);}
#mainNav li:nth-child(4){background-image: url(../images/bag3.png);}
#mainNav li:nth-child(5){background-image: url(../images/top3.png);}
#mainNav li:nth-child(6){background-image: url(../images/dress3.png);}
#mainNav li:nth-child(7){background-image: url(../images/bottom3.png);}
#mainNav li:nth-child(1){background:#64991e;}
#mainNav li:nth-child(8){background:#d81b21;}
#mainNav li a{line-height: 80px; font-size: 1em;}

/* 원래 3개로 계산했어야 함 */