<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style1.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1><a href="./index1.html">Logo</a></h1>
            <div class="search">search</div>
            <div class="gnb">
                <ul>
                    <li><a href="./logoin.html">로그인</a></li>
                    <li><a href="./logoin.html">회원가입</a></li>
                    <li><a href="./logoin.html">장바구니</a></li>
                </ul>
            </div>
        </div>
        <div id="nav" class="nav-wrap">
            <ul>
                <li><a href="#">menu1</a>
                    <ul>
                        <li><a href="#">sub1</a></li>
                        <li><a href="#">sub2</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li><a href="#">menu2</a>
                    <ul>
                        <li><a href="#">sub1</a></li>
                        <li><a href="#">sub2</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li><a href="#">menu3</a>
                    <ul>
                        <li><a href="#">sub1</a></li>
                        <li><a href="#">sub2</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li><a href="#">menu4</a>
                    <ul>
                        <li><a href="#">sub1</a></li>
                        <li><a href="#">sub2</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li><a href="#">menu5</a>
                    <ul>
                        <li><a href="#">sub1</a></li>
                        <li><a href="#">sub2</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="section">
            <div id="aside">
                <div class="aside-box1"></div>
                <div class="aside-box2"></div>
            </div>
            <div id="article" class="article-wrap">
                <h2>제목</h2>
                <div class="article-box1"></div>
                <div class="article-box2"></div>
                <div class="article-box3"></div>
            </div>
        </div>
        <div id="footer" class="footer-wrap">
            <div class="foot-logo">f-logo</div>
            <div class="address">
                <p>경기도 수원시 매산로 111</p>
            </div>
            <div class="sns">
                <ul>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $('.nav-wrap>ul>li').hover(function(){
            $(this).find('ul').stop().slideDown();
        },function(){
            $(this).find('ul').stop().slideUp();
        });
    </script>
</body>
</html>